@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

* {
	margin: 0%;
	padding: 0%;
	box-sizing: border-box;

}



.main {

    min-height: 100vh;
	width: 100%;
	font-family: 'Source Code Pro', monospace;
	display: flex;
	align-items: center;
	/* justify-content: space-between; */
	flex-direction: column;
	cursor: pointer;
	background-color: #809cf0;
	background-image: url('../img/rainbow.jpg');
	background-repeat: no-repeat;

	background-position: center;
	background-size: cover;
	background-blend-mode: soft-light;

}



.firstDiv {

	width: 52rem;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	color: white;
	font-weight: bolder;
	border-bottom: .2em solid white;
     font-size: 1rem;
	 padding: 2em;



	/* border: 2px solid red; */

}

.logo {
	font-size: 1.4rem;
	font-weight: bold;

}



.input {
	width: 50%;
	display: flex;
	align-items: center;
	justify-content: space-around;

	



}



.input button {

	background-color: #FFA500;
	padding: .5em;
	width: 140px;
	border: none;
	border-radius: .5em;
	color: white;
	font-weight: bolder;
	margin-left: 1em;
	cursor: pointer;


}

.input button:hover {
	transition: 750ms;
	transform: scale(.95);
	background-color: white;
	border: none;
	border-radius: 6px;
	font-weight: bolder;
	color: #FFA500;


	margin-left: 10px;

}



input[type="text"] {
	width: 100%;
	border-radius:.4em;
	border: none;
	padding:.5em;
	padding-left: 1em;

}



.secondDiv {

	width: 60%;
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	font-size: 1.2rem;
	font-weight: bolder;
	padding: 3em;

/* 
	border: 2px solid red; */

}

.secondDiv div{
	padding: .3em;
}

.secondDiv :nth-child(1) {
	color: #FFA500;
	font-size: 1.4rem;

}

.secondDiv div:hover {
	color: #FFA500;
}



.threddDiv {

	width: 52rem;
	flex-direction: row;
	color: #ffffff;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-weight: bolder;
	font-size: 1rem;
	padding: 1em;


	/* border: 2px solid white; */



}



.threddDivItems {


	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-bottom: .6em;

	border-bottom: .2em solid white;


}



.threddDivItems span{
	padding: 1.2em;
}

.weatherComment{
	display: none;
}



.threddDivItems:hover {
	transition: 600ms;
	color: #FFA500;
}

















.notFound {

	width: 70%;
	display: flex;
	align-items: center;
	justify-content: center;

	color: white;
	font-size: 1.8rem;
	padding: 1em;

	/* border: 2px solid red; */

}




.empdtyDiv {

	width: 90%;
    padding: 3em;


    /* border: 2px solid red; */

}


@media (max-width:992px){

	


.firstDiv {

		width: 45rem;
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		color: white;
		font-weight: bolder;
		border-bottom: .2em solid white;
		font-size: 1rem;
		padding: 2em;



		/* border: 2px solid red; */

	}

	.logo {
		font-size: 1.4rem;
		font-weight: bold;

	}



	.input {
		width: 60%;
		display: flex;
		align-items: center;
		justify-content: space-around;





	}



	.input button {

		background-color: #FFA500;
		padding: .5em;
		width: 140px;
		border: none;
		border-radius: .5em;
		color: white;
		font-weight: bolder;
		margin-left: 1em;


	}

	.input button:hover {
		transition: 750ms;
		transform: scale(.95);
		background-color: white;
		border: none;
		border-radius: 6px;
		font-weight: bolder;
		color: #FFA500;


		margin-left: 10px;

	}



	input[type="text"] {
		width: 100%;
		border-radius: .4em;
		border: none;
		padding: .5em;
		padding-left: 1em;

	}



	.secondDiv {

		width: 90%;
		color: white;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		font-size: 1.1rem;
		font-weight: bolder;

	

	}

	.secondDiv div {
		padding: .3em;
	}

	.secondDiv :nth-child(1) {
		color: #FFA500;
		font-size: 1.3rem;

	}

	.secondDiv div:hover {
		color: #FFA500;
	}



	.threddDiv {

		width:45rem;
		flex-direction: row;
		color: #ffffff;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		font-weight: bolder;
		font-size: .9rem;
		padding: 1em;


		/* border: 2px solid white; */



	}



	.threddDivItems {


		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-bottom: .6em;

		border-bottom: .2em solid white;


	}



	.threddDivItems span {
		padding: 1.2em;
	}



.notFound {

	width: 70%;
	display: flex;
	align-items: center;
	justify-content: center;

	color: white;
	font-size: 1.6rem;
	padding: 1em;

	/* border: 2px solid red; */

}



}








@media (max-width:768px) {
	.firstDiv {

		width: 80%;
		display: flex;
		justify-content: flex-end;
		align-items: flex-end;
		color: white;
		font-weight: bolder;
		border-bottom: .2em solid white;
		font-size: 1rem;
		padding: 1em;
		margin-top: 2em;



		/* border: 2px solid red; */

	}

	.logo {

		display: none;

	}



	.input {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		justify-content: space-around;






	}



	.input button {

		background-color: #FFA500;
		padding: .5em;
		width: 150px;
		border: none;
		border-radius: .5em;
		color: white;
		font-weight: bolder;
		margin-left: .9em;
		margin-top: .6em;


	}

	.input button:hover {
		transition: 750ms;
		transform: scale(.95);
		background-color: white;
		border: none;
		border-radius: 6px;
		font-weight: bolder;
		color: #FFA500;


		margin-left: 10px;

	}



	input[type="text"] {
		width: 100%;
		border-radius: .4em;
		border: none;
		padding: .5em;
		padding-left: 1em;

	}



	.secondDiv {

		width: 90%;
		color: white;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		font-size: 1rem;
		font-weight: bolder;

		/* border: 2px solid red; */

	}

	.secondDiv div {
		padding: .3em;
	}

	.secondDiv :nth-child(1) {
		color: #FFA500;
		font-size: 1.2rem;

	}

	.secondDiv div:hover {
		color: #FFA500;
	}



	.threddDiv {

		width: 80%;
		flex-direction: row;
		color: #ffffff;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		font-weight: bolder;
		font-size: .85rem;
		padding: .75em;


		/* border: 2px solid white; */



	}



	.threddDivItems {


		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-bottom: .3em;

		border-bottom: .2em solid white;


	}



	.threddDivItems span {
		padding: .6em;
	}

	.notFound {

		width: 70%;
		display: flex;
		align-items: center;
		justify-content: center;

		color: white;
		font-size: 1.2rem;
		padding: 1em;

		/* border: 2px solid red; */

	}

}
















@media (max-width:600px) {


	.firstDiv {
	
			width: 90%;
			display: flex;
			justify-content: flex-end;
			align-items: flex-end;
			color: white;
			font-weight: bolder;
			border-bottom: .2em solid white;
			font-size: .75rem;
			padding: 1em;
			margin-top: 2em;
	
	
	
			/* border: 2px solid red; */
	
		}
	
		.logo {
	
			display: none;
	
		}
	
	
	
		.input {
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			justify-content: space-around;
		   font-size: .75rem;
	
	
	
	
	
		}
	
	
	
		.input button {
	
			background-color: #FFA500;
			padding: .5em;
			width: 120px;
			border: none;
			border-radius: .5em;
			color: white;
			font-weight: bolder;
			margin-left: .9em;
			margin-top: .6em;
			font-size: .75rem;
	
	
		}
	
		.input button:hover {
			transition: 750ms;
			transform: scale(.95);
			background-color: white;
			border: none;
			border-radius: 6px;
			font-weight: bolder;
			color: #FFA500;
			
	
	
			margin-left: 10px;
	
		}
	
	
	
		input[type="text"] {
			width: 100%;
			border-radius: .4em;
			border: none;
			padding: .5em;
			padding-left: 15px;
	
		}
	
	
	
		.secondDiv {
	
			width: 90%;
			color: white;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-around;
			font-size: .8rem;
			font-weight: bolder;
	
			/* border: 2px solid red; */
	
		}
	
		.secondDiv div {
			padding: .3em;
		}
	
		.secondDiv :nth-child(1) {
			color: #FFA500;
			font-size: 1.1rem;
	
		}
	
		.secondDiv div:hover {
			color: #FFA500;
		}
	
	
	
		.threddDiv {
	
			width: 90%;
			flex-direction: row;
			color: #ffffff;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			font-weight: bolder;
			font-size: .75rem;
			padding: .5em;
	
	
			/* border: 2px solid white; */
	
	
	
		}
	
	
	
		.threddDivItems {
	
	
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding-bottom: .3em;
	
			border-bottom: .2em solid white;
	
	
		}

		.threddDivItems span:nth-child(2){
			display: none;
		}
	
	
	
		.threddDivItems span {
			padding: .3em;
		}
	
		.notFound {
	
			width: 90%;
			display: flex;
			align-items: center;
			justify-content: center;
	
			color: white;
			font-size: 1.2rem;
			padding: 1em;
	
			/* border: 2px solid red; */
	
		}
	




}













